@import 'kouto-swiss'
@import '_config'
@import '_sprite'

normalize()
box-sizing-reset()


body
  font-family $fontFamily_default
  font-size $fontSize_default
  line-height $lineHeight_default
  letter-spacing $letterSpacing_default
  background-color $bgColor_default
  font-kerning normal
  color $textColor_default
  // text-align justify
  word-wrap break-word
  overflow-wrap break-word
  width 100vw
  height 100vh
  overflow hidden

  +retina-query(only screen, 2)
    -webkit-font-smoothing antialiased

  a
    color inherit
    text-decoration none
    transition: all 300ms ease

    body.is-pc &
      &:hover
        opacity 0.8
        text-decoration none