// color
$color_white = #fff
$color_black = #1a1a1a
$color_lightGray = #c2c7cc
$color_darkGray = #999


// bg color
$bgColor_default = $color_lightGray


// border color
$borderColor_default = rgba($color_white, 0.5)


// text color
$textColor_default = $color_white


// font family
// $fontFamily_default = 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif
$fontFamily_default = ProximaNova, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, NotoSansJapanese, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif


// font size
$fontSize_default = rem(14px)
$fontSize_small = rem(11px)
$fontSize_sectionTitle = rem(36px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.35


// letter spacing
$letterSpacing_default = 0.05em


// width
$width_backTop = 140px


// media query
$mq_pcLarge = only screen, min-width 1200px
$mq_pc = only screen, max-width 1199px
$mq_tablet = only screen, max-width 899px
$mq_spLarge = only screen, max-width 639px
$mq_sp = only screen, max-width 399px