@import '_base'

@import 'components/_viewArea'
@import 'components/_bg'
@import 'components/_header'
@import 'components/_footer'
@import 'components/_content'
@import 'components/_galleryNav'
@import 'components/_sectionNav'

// // temp
// .galleryNav
//   position fixed
//   top 100px
//   left 100px
//
//   &.is-disableClick
//     pointer-events none
//     opacity 0.3