.info_list
  margin -15px 0 0 0
  clearfix()

  &Title
    float left
    font-size $fontSize_small
    padding-top 2px
    margin-top 15px

  &Text
    margin 15px 0 0 100px

    &+&
      margin-top 5px


.info_credit
  margin-top 30px
  clearfix()

  &Title
    float left
    width 100px
    margin 0
    font-size rem(18px)

  &List
    float left
    margin 0

    &Title
      margin-top 15px
      font-size $fontSize_small

      &:first-child
        margin-top 5px

    &Text
      margin 3px 0 0 0
      font-weight bold

      &-large
        font-size rem(18px)

      &-guest
        display inline-block
        vertical-align middle
        margin-right 15px